


<h2>Customers</h2>


@if  (Model.customerList.Count == 0)
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-striped">
        <tr>
             <th>Customers</th>
        </tr>

         @foreach (var customer in Model.customerList)
         {
        <tr>
            <td>@customer.name</td>
        </tr>
         }
    </table>



}

